
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      ". x x2 ."
      ". x x2 ."
      ". x x3 .";
  }

#board { grid-area: x; }
#state { grid-area: x2; }
#controls { grid-area: x3; }

.button_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* .table_col, .table_info, .table_check {
    padding: 5px;
} */

.rowList_container {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--elements);
    min-height: 5.5vh;
    max-height: 5.5vh;
    padding: 10px;
    margin-right: 5px;
    box-shadow: 0px 4px 4px var(--mainshadow);
    border: none;
    border-radius: 2vh;
    flex-grow: 4;
}

#row1 {
    margin-bottom: 10px;
}

.square {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: var(--elements);
    min-height: 5.5vh;
    max-height: 5.5vh;
    min-width: 5.5vh;
    max-width: 5.5vh;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 0px 4px 4px var(--mainshadow);
    border: none;
    border-radius: 2vh;
}

li {
    display: flex;
    margin-bottom: 10px;
}

.table_col {
    margin-left: 5px;
    margin-right: 5px;
}

.smallpin  {
    border: none;
    border-radius: 50%;
    width: 1.4vh;
    height: 1.4vh;
    margin: 0.5vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
}

.pin {
    border: none;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    /* margin: 5px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
}

.red {
    background-color: var(--color1);
    box-shadow: 0px 4px 4px var(--shadow1);
}

.yellow {
    background-color: var(--color2);
    box-shadow: 0px 4px 4px var(--shadow2);
}

.blue {
    background-color: var(--color3);
    box-shadow: 0px 4px 4px var(--shadow3);
}

.green {
    background-color: var(--color4);
    box-shadow: 0px 4px 4px var(--shadow4);
}

.purple {
    background-color: var(--color5);
    box-shadow: 0px 4px 4px var(--shadow5);
}

.black {
    background-color: var(--color6);
    box-shadow: 0px 4px 4px var(--shadow6);
}

.white {
    background-color: var(--color7);
    box-shadow: 0px 4px 4px var(--shadow6);
}

.clear {
    background-color: var(--color8);
    box-shadow: 0px 4px 4px var(--shadow6);
}

.clear::before {
    content: url("../images/delete.svg");
}

.submit {
    background-color: var(--color9);
    box-shadow: 0px 4px 4px var(--shadow9);
}

.submit::before {
    content: url("../images/done.svg");
}
